@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html, body, #root { height: 100%; }
body { font-family: 'Inter', system-ui, -apple-system, sans-serif; margin: 0; }

button { font-family: inherit; }
